{% extends "header.html" %}

{% block content %}  
<style>
    .delete-button{
        background: none;
        border: none;
        font-weight: inherit;
        color: #cc3b1b;
        transition: color .28s ease, background-color .28s ease;
        padding-left: 0;
    }
    .delete-button:hover{
        color: #fc2d00;
    }

    .delete-button:focus{
        
        background: none !important;
    }
</style>

<form action='upload_private' method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <input class="btn waves-effect waves-light" style="background-color: #009933;" type="file" accept=".jpg, .jpeg, .jpe, .jif, .png, .gif, .webp, .tiff, .tif" name="image">
    <button class="btn waves-effect waves-light" style="background-color: #009933;" type="submit" name="upload file">submit</button>

</form>
<form class="form-inline my-2 my-lg-0" action='search' method='POST'>

    {% csrf_token %}
    <input type="text" name="template" value="private" hidden>
    <input class="form-control" type="search" name="search" placeholder="search" required>
    <button class="btn" type="submit" style="background-color: #009933;">search</button>
  </form>
  {% if line %}
  <p>Search results for: <i>{{line}}</i></p>
  <form action="clear" method="POST">
    {% csrf_token %}
    <input type="text" name="template" value="private" hidden>
    <button class="btn" type="submit" style="background-color: #009933;">Clear Search Results</button>
  </form>
  

  {% else %}
</br>
  {% endif %}

  
<div class="row">
<div class="row">
    {% for im in images %}
    <div class="col s6 m4 l3">
        <div class="card small">
        <div class="card-image">
            <img src="{{im.picture.url}}">
            <span class="card-title"></span>
        </div>
        <div class="card-content">
            <p>{{im.name}}</p>
        </div>
        <div class="card-action">
            <a href="{{im.picture.url}}">Full size</a>
        </div>
        <div class="card-action">
            <a href="{{im.picture.url}}">Full size</a>
            
            <form method="POST" action="{% url 'main:image_delete' im.pk %}">
                {% csrf_token %}
                <input type="text" name="template" value="private" hidden>
                {% if im.owner|stringformat:"s" == user.username or im.owner|stringformat:"s" == "None" %}
                <button class="delete-button" type="submit">DELETE</button>
                {% endif %}
              </form>
        </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}  
